body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
}

button {
  width: 150px;
  padding: 5px;
  cursor: pointer;
}

button:hover {
  background: #cccaca;
}

footer {
  text-align: center;
  height: 40px;
  padding: 10px;
  background: #d6d6d6;
  margin: 10px;
  border-radius: 4px;
}

.titulo {
  text-align: center;
  border-radius: 4px;
  background: #d6d6d6;
  padding: 10px;
  margin: 10px;
}

.container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: stretch;
  margin: 0px 10px;
}

.conteudo {
  background: #d6d6d6;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 4px;
}

.descricao {
  align-self: center;
  display: block;
  padding: 20px;
}

.opcoes {
  text-align: center;
}


